@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

*
{
    margin:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body
{
    overflow: hidden;
    background-color:white;
}

/*header*/
header
{
    display:flex;
    background-color: #f9e900;
    color:black;
    font-weight: bolder;
    height:70px;
    width:100%;
}
#title
{
    font-size:30px;
    padding:15px 50% 0 70px;
    float:left;
}
a
{
    text-decoration: none;
    color: black;
}
#home
{
    font-size:20px;
    padding:22px 50px 25px 50px;
    margin:0 10px 0 -20px;
    float:right;
}
#mode1 
{
    background-color: #d0c200;
    margin:4px 10px;
    height: 60px;
    float:right;
    border-radius: 10px;
    padding:10px;
}
#mode2
{
    margin:4px 10px;
    height: 60px;
    float:right;
    border-radius: 10px;
    padding:10px;
}

#mode1 img, #mode2 img
{
    border-radius:10px;
    width:40px;
}
#home:hover
{
    background-color:#d0c200;
}

/*footer*/
footer
{
    background-color: #f9e900;
    color:black;
    font-weight: bold;
    font-size:13px;
    height:55px;
    width:100%;
    text-align: center;
    padding:7px 50px 8px 50px;
}